### NetBeans specific ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/private/

**/build/
**/nbbuild/
**/dist/
**/nbdist/
nbactions.xml
nb-configuration.xml


### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# CMake
**/cmake-build-*/